{{!-- Header space  --}}

<div class="col s12 row z-depth-3 header center-align valign-wrapper">
  <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F23%2F2020%2F05%2F21%2Fstrawberry-season-2000.jpg" alt="strawberryHeader" class="straws col s8">
  <h3 class="center-align title">Real Simple Recipe Scraper</h3>
</div>

<br><br>

<div class="row center-align">
 <button class="btn z-depth-1" id="scraped">SCRAPED!</button>
<a class="btn z-depth-1" type="button" href="/saved/" id="viewSaved">View Saved Recipes</a>
  <div class="clearfix"></div>
<h6 class="col s12 propertyOf row"> All recipes property of
    <a href="https://www.realsimple.com/food-recipes/browse-all-recipes" target="_blank" class="center-align rsLink"> 
      Real Simple </a>
</h6>
</div>

<br>

<div class="container">
<div class="row center-align">
    {{#each recipes}}
    <div class="recipeCard card horizontal col s12">
      <div class="card-image col s8">
        <img class= "img" src="{{imageUrl}}" data-img="{{imageUrl}}" style="padding-top: 2vh; padding-bottom: 2vh"/>
      </div>
      <div class="card-stacked col s4">
        <div class="card-content valign-wrapper">
          <h5 class="eachTitle" data-title="{{title}}">{{title}}</h5>
        </div>
        <div class="row">
            <a href="{{link}}" data-link="{{link}}" class="link" target = "_blank">GO TO RECIPE</a>
        </div>
        <div class="card-action center-align">
            <a class="saveRecipe">
              <i class="tiny material-icons">favorite_border</i>
              Save
            </a>
            <p class="recipeSaved" id="recipeSaved">RECIPE SAVED!</p>
            <a class="recipeSaved z-depth-1 btn" id="viewSavedBtn" href="/saved/">View Saved</a>
        </div>
      </div>
    </div>
    {{/each}}
</div>
</div>