{{!-- Header space  --}}

<div class="col s12 row z-depth-3 header center-align valign-wrapper">
  <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F23%2F2020%2F05%2F21%2Fstrawberry-season-2000.jpg" alt="strawberryHeader" class="straws col s8">
  <h3 class="center-align title">Real Simple Recipe Scraper</h3>
</div>

<br><br>

<div class="row center-align">
  <a class="btn z-depth-1 home back" type="button" href="/recipes">Back to Recipes</a>
  <button class="btn z-depth-1" id="saved">SAVED!</button>
  <div class="clearfix"></div>
    <h6 class="col s12 propertyOf row"> All recipes property of
        <a href="https://www.realsimple.com/food-recipes/browse-all-recipes" target="_blank" class="center-align rsLink"> 
          Real Simple </a>
    </h6>
</div>

<br>

<div class="container">
<div class="row center-align">
    {{#if savedRecipes}}
    {{#each savedRecipes}}
    <div class="card horizontal col s12">
      <div class="card-image col s8 valign-wrapper">
        <img src="{{imageUrl}}" style="padding-top: 2vh; padding-bottom: 2vh"/>
      </div>
      <div class="card-stacked col s4">
        <div class="card-content valign-wrapper">
          <h5 class="eachTitle">{{title}}</h5>
        </div>
        <div class="row">
          <a class = "link" href="{{link}}" target = "_blank">GO TO RECIPE</a>
        </div>
        <div class="card-action center-align">
          <a class="savedActions z-depth-1 btn recipeNotes modal-trigger" href="#modal1" data-id={{this._id}}>Notes</a>
        </div>
        <div class="card-bottom center-align">
          <button class="savedActions btn z-depth-1 unsaveBtn" data-id={{this._id}}>Unsave</button>
        </div>
      </div>
    </div>
    {{/each}}
    {{else}}
      <div class="panel panel-default">
        <div class="panel-body">
          <h5 class="sad">Well this is sad... you have no saved recipes.</h5>
          </div>
          <div>
          <h6>Let's head &nbsp <a class="btn z-depth-1 home" type="button" href="/recipes">Back to Recipes</a> &nbsp to start saving!</h6>
        </div>
      </div>
        {{/if}}

    <div class="modal modal1" id="modal1" tabindex="-1" role="dialog">
      <h5 class="modal-title" style="padding: 3vh 2vw 3vh 2vw"></h5>
      <div class="notes left-align"></div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <textarea class="form-control" id="noteInput" placeholder="Add your notes here."style="margin-bottom: 1vh; padding-left: 2vw"></textarea>
          </div>
        </form>
        <div class="modal-footer">
            <button type="button" class="btn" id="saveNote" data-recipeID=0>Save Note</button>
        </div>
    </div>
</div>
</div>

